<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<link rel="stylesheet" media="all" href="static/main.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="static/script.js?7"></script>

<title>Zombot</title>
</head>

<body onload="init();">

<div id="container">

<h1>Peter and Jaden's Robot Controller</h1>

<table>
<tr>
<th rowspan=2>Encoders (Romi&nbsp;only)</th>
<td id="encoders0"></td><td id="encoders1"></td>
</tr>
</table>

<div id="joystick">
</div>

</div>

</html>
